#box{
    
    height: 120%;
    width: 90vw;
    justify-content: center;

}

.row1, .row2{
    display: flex;
    justify-content: center;
}

.col{

    display: flex;
}

.main-box{
    width: 25rem;
    height: 35rem;
    
}

.small-box{
    height: 50px;
    width: 50px;
    border: 2px solid white;
    text-align: center;
}

#main-top-left{
    background-color: #ccc;
   

}



#main-top-right{
    background-color: #e86f88;
}

#main-bottom-left{
    background-color:  #79badb;
}

#main-bottom-right{
    background-color:  #a2dbb1;
}


#b1{
    background-color: red;
}

#b2{
    background-color: orange;
    margin-left: 18.2rem;
}

#b3{
    background-color: steelblue;
    margin-top: 31.8rem;
}

#b4{
    background-color: blue;
    margin-left: 18.2rem;
}

#b5{
    background-color: purple;
}

#b6{
    background-color: coral;
    margin-top: 31.8rem;
    margin-left: 18.2rem;
}

#b7{
    background-color: gray;
    margin-top: 31.8rem;
}


#b8{
    background-color:red;
    margin-left: 18.2rem;
}

